body{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    background-color: blueviolet;
}

header a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    list-style: none;
}

header li{
    display: inline-block;
    margin-left: 20px;
}

.header-wrap{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content{
    margin: 5px;
}

@media screen and (max-width: 375px){
    header{
        width: 812px;
        background-color: blueviolet;
    }

    header a{
        text-decoration: none;
        color: white;
        font-size: 30px;
        list-style: none;
    }
    
    header li{
        display: inline-block;
        margin-left: 20px;
    }
    
    .header-wrap{
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    p{
        font-size: 30px;
    }
}